::-webkit-scrollbar {
    width: 9px;
    height: 9px;

}


::-webkit-scrollbar-thumb {
    background: rgba(13, 110, 253, 0.55);
    border-radius: 10px;
}

.navbar-nav .nav-link {
    color: rgba(13,110,253, 0.55);
}


.shadow-inset {
    box-shadow: inset 0 0 30px 20px rgba(0, 0, 0, 0.15);
}



.section-1 {
    background-image: url('../assets/img/fondo.jpeg');
        background-size: 100% auto;
        background-position: center ;
        background-repeat: no-repeat;
        height: 100vh;
        opacity: 0.80;
}
.section-1 .text{
    text-shadow: -1px 5px 4px rgba(0, 0, 0, 0.63);
}

.text-2 {
    text-shadow: -1px 5px 4px rgba(0, 0, 0, 0.20);
}